@import 'yeticss'

.side-nav
  position: fixed
  top: 0
  right: 0
  height: 100%
  width: 400px
  padding: 10px

.airports-list
  max-width: 500px
  margin: 50px auto
  padding: 25px 50px
  background-color: #eee

.airports-item
  margin-bottom: 10px

  button
    margin-left: 10px

.price-limit
  margin-left: 10px
  width: 100px
  display: inline-block

.list-inline
  li
    display: inline-block
    margin: 0 10px 20px
